/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.app-body {
    font-family: 'Manrope', sans-serif;
    background: #f8f9fa;
    color: #191c1d;
}

/* ===== SIDEBAR ===== */
.sidebar {
    width: 260px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #f8fafc;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.bottom-menu {
    margin-top: auto;
}    

.logo h1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #065f46;
}

.logo p {
    font-size: 10px;
    letter-spacing: 2px;
    color: #94a3b8;
    margin-top: 4px;
}

/* MENU */
.menu {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 14px;
    border-radius: 10px;
    text-decoration: none;
    color: #64748b;
    font-size: 14px;
    transition: 0.2s;
}

.menu a:hover {
    background: #ecfdf5;
    color: #059669;
}

.menu a.active {
    background: #ecfdf5;
    color: #059669;
    font-weight: 600;
    border-right: 4px solid #059669;
}

/* BOTTOM MENU */
.bottom-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottom-menu a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    text-decoration: none;
    color: #64748b;
    font-size: 14px;
}

/* ===== MAIN ===== */
.main {
    margin-left: 260px;
    min-height: 100vh;
}

/* ===== TOPBAR ===== */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #e5e7eb;
}

/* SEARCH */
.search {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #f1f5f9;
    padding: 10px 15px;
    border-radius: 10px;
    width: 80%;
    max-width: 1000vh;
}

.search input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
}

/* ACTIONS */
.top-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon {
    cursor: pointer;
    color: #64748b;
}

/* USER */
.user {
    display: flex;
    align-items: center;
    gap: 10px;
    border-left: 1px solid #e5e7eb;
    padding-left: 15px;
}

.user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* ===== CONTENT ===== */
.content {
    padding: 40px;
}

/* TITULOS */
h1, h2, h3 {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* ===== CARDS ===== */
.card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.04);
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

/* BOTONES */
button {
    cursor: pointer;
    border: none;
}

.btn {
    background: #059669;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

/* RESPONSIVE */
@media (max-width: 900px) {

    .sidebar {
        display: none;
    }

    .main {
        margin-left: 0;
    }

    .grid {
        grid-template-columns: 1fr;
    }

}